<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
	<head th:fragment="head (title)">
		<title th:text="${title}">Fragments</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
			href="css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<h3 th:text="${username}"></h3>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Summary</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${messages.empty}">
						<td colspan="3">No messages</td>
					</tr>
					<tr th:each="message : ${messages}">
						<td th:text="${message}">1</td>
					</tr>
				</tbody>
			</table>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="退出登录"/>
			</form>
		</div>
	</body>
</html>
